## [Start] Setting "source" to default value of "stream". **
$util.qr($context.args.input.put("source", $util.defaultIfNull($ctx.args.input.source, "stream")))
## [End] Setting "source" to default value of "stream". **
## [Start] Setting "skipped" to default value of "false". **
$util.qr($context.args.input.put("skipped", $util.defaultIfNull($ctx.args.input.skipped, false)))
## [End] Setting "skipped" to default value of "false". **
{}