## [Start] Setting "totalSessions" to default value of "0". **
$util.qr($context.args.input.put("totalSessions", $util.defaultIfNull($ctx.args.input.totalSessions, 0)))
## [End] Setting "totalSessions" to default value of "0". **
## [Start] Setting "totalListenTime" to default value of "0". **
$util.qr($context.args.input.put("totalListenTime", $util.defaultIfNull($ctx.args.input.totalListenTime, 0)))
## [End] Setting "totalListenTime" to default value of "0". **
## [Start] Setting "returningListener" to default value of "false". **
$util.qr($context.args.input.put("returningListener", $util.defaultIfNull($ctx.args.input.returningListener, false)))
## [End] Setting "returningListener" to default value of "false". **
{}