## [Start] Setting "status" to default value of "queued". **
$util.qr($context.args.input.put("status", $util.defaultIfNull($ctx.args.input.status, "queued")))
## [End] Setting "status" to default value of "queued". **
{}