## [Start] Setting "status" to default value of "idle". **
$util.qr($context.args.input.put("status", $util.defaultIfNull($ctx.args.input.status, "idle")))
## [End] Setting "status" to default value of "idle". **
## [Start] Setting "lastPosition" to default value of "0". **
$util.qr($context.args.input.put("lastPosition", $util.defaultIfNull($ctx.args.input.lastPosition, 0)))
## [End] Setting "lastPosition" to default value of "0". **
## [Start] Setting "duration" to default value of "0". **
$util.qr($context.args.input.put("duration", $util.defaultIfNull($ctx.args.input.duration, 0)))
## [End] Setting "duration" to default value of "0". **
## [Start] Setting "volume" to default value of "0.7". **
$util.qr($context.args.input.put("volume", $util.defaultIfNull($ctx.args.input.volume, 0.7)))
## [End] Setting "volume" to default value of "0.7". **
## [Start] Setting "autoPlayEnabled" to default value of "false". **
$util.qr($context.args.input.put("autoPlayEnabled", $util.defaultIfNull($ctx.args.input.autoPlayEnabled, false)))
## [End] Setting "autoPlayEnabled" to default value of "false". **
{}