## [Start] Setting "playCount" to default value of "0". **
$util.qr($context.args.input.put("playCount", $util.defaultIfNull($ctx.args.input.playCount, 0)))
## [End] Setting "playCount" to default value of "0". **
{}