## [Start] Setting "isActive" to default value of "true". **
$util.qr($context.args.input.put("isActive", $util.defaultIfNull($ctx.args.input.isActive, true)))
## [End] Setting "isActive" to default value of "true". **
## [Start] Setting "priority" to default value of "0". **
$util.qr($context.args.input.put("priority", $util.defaultIfNull($ctx.args.input.priority, 0)))
## [End] Setting "priority" to default value of "0". **
{}