## [Start] Setting "playCount" to default value of "0". **
$util.qr($context.args.input.put("playCount", $util.defaultIfNull($ctx.args.input.playCount, 0)))
## [End] Setting "playCount" to default value of "0". **
## [Start] Setting "totalListeners" to default value of "0". **
$util.qr($context.args.input.put("totalListeners", $util.defaultIfNull($ctx.args.input.totalListeners, 0)))
## [End] Setting "totalListeners" to default value of "0". **
## [Start] Setting "skipCount" to default value of "0". **
$util.qr($context.args.input.put("skipCount", $util.defaultIfNull($ctx.args.input.skipCount, 0)))
## [End] Setting "skipCount" to default value of "0". **
{}