## [Start] Setting "notificationsEnabled" to default value of "true". **
$util.qr($context.args.input.put("notificationsEnabled", $util.defaultIfNull($ctx.args.input.notificationsEnabled, true)))
## [End] Setting "notificationsEnabled" to default value of "true". **
## [Start] Setting "notifyOnTrackChange" to default value of "true". **
$util.qr($context.args.input.put("notifyOnTrackChange", $util.defaultIfNull($ctx.args.input.notifyOnTrackChange, true)))
## [End] Setting "notifyOnTrackChange" to default value of "true". **
## [Start] Setting "notifyOnPlaylistUpdate" to default value of "true". **
$util.qr($context.args.input.put("notifyOnPlaylistUpdate", $util.defaultIfNull($ctx.args.input.notifyOnPlaylistUpdate, true)))
## [End] Setting "notifyOnPlaylistUpdate" to default value of "true". **
## [Start] Setting "notifyOnLogin" to default value of "false". **
$util.qr($context.args.input.put("notifyOnLogin", $util.defaultIfNull($ctx.args.input.notifyOnLogin, false)))
## [End] Setting "notifyOnLogin" to default value of "false". **
## [Start] Setting "theme" to default value of "light". **
$util.qr($context.args.input.put("theme", $util.defaultIfNull($ctx.args.input.theme, "light")))
## [End] Setting "theme" to default value of "light". **
{}