## [Start] Setting "playlistUpdateTriggerSeconds" to default value of "60". **
$util.qr($context.args.input.put("playlistUpdateTriggerSeconds", $util.defaultIfNull($ctx.args.input.playlistUpdateTriggerSeconds, 60)))
## [End] Setting "playlistUpdateTriggerSeconds" to default value of "60". **
## [Start] Setting "playlistUpdateMinTrackDuration" to default value of "60". **
$util.qr($context.args.input.put("playlistUpdateMinTrackDuration", $util.defaultIfNull($ctx.args.input.playlistUpdateMinTrackDuration, 60)))
## [End] Setting "playlistUpdateMinTrackDuration" to default value of "60". **
## [Start] Setting "playlistUpdateFallbackInterval" to default value of "300". **
$util.qr($context.args.input.put("playlistUpdateFallbackInterval", $util.defaultIfNull($ctx.args.input.playlistUpdateFallbackInterval, 300)))
## [End] Setting "playlistUpdateFallbackInterval" to default value of "300". **
## [Start] Setting "streamMountPoint" to default value of "/stream.mp3". **
$util.qr($context.args.input.put("streamMountPoint", $util.defaultIfNull($ctx.args.input.streamMountPoint, "/stream.mp3")))
## [End] Setting "streamMountPoint" to default value of "/stream.mp3". **
## [Start] Setting "newsEnabled" to default value of "false". **
$util.qr($context.args.input.put("newsEnabled", $util.defaultIfNull($ctx.args.input.newsEnabled, false)))
## [End] Setting "newsEnabled" to default value of "false". **
## [Start] Setting "crossfadeEnabled" to default value of "true". **
$util.qr($context.args.input.put("crossfadeEnabled", $util.defaultIfNull($ctx.args.input.crossfadeEnabled, true)))
## [End] Setting "crossfadeEnabled" to default value of "true". **
## [Start] Setting "crossfadeStartNext" to default value of "3". **
$util.qr($context.args.input.put("crossfadeStartNext", $util.defaultIfNull($ctx.args.input.crossfadeStartNext, 3)))
## [End] Setting "crossfadeStartNext" to default value of "3". **
## [Start] Setting "crossfadeFadeIn" to default value of "2". **
$util.qr($context.args.input.put("crossfadeFadeIn", $util.defaultIfNull($ctx.args.input.crossfadeFadeIn, 2)))
## [End] Setting "crossfadeFadeIn" to default value of "2". **
## [Start] Setting "crossfadeFadeOut" to default value of "2". **
$util.qr($context.args.input.put("crossfadeFadeOut", $util.defaultIfNull($ctx.args.input.crossfadeFadeOut, 2)))
## [End] Setting "crossfadeFadeOut" to default value of "2". **
## [Start] Setting "crossfadeNormalize" to default value of "true". **
$util.qr($context.args.input.put("crossfadeNormalize", $util.defaultIfNull($ctx.args.input.crossfadeNormalize, true)))
## [End] Setting "crossfadeNormalize" to default value of "true". **
## [Start] Setting "smartCrossfadeEnabled" to default value of "false". **
$util.qr($context.args.input.put("smartCrossfadeEnabled", $util.defaultIfNull($ctx.args.input.smartCrossfadeEnabled, false)))
## [End] Setting "smartCrossfadeEnabled" to default value of "false". **
## [Start] Setting "smartCrossfadeBpmTolerance" to default value of "5". **
$util.qr($context.args.input.put("smartCrossfadeBpmTolerance", $util.defaultIfNull($ctx.args.input.smartCrossfadeBpmTolerance, 5)))
## [End] Setting "smartCrossfadeBpmTolerance" to default value of "5". **
## [Start] Setting "smartCrossfadeAutoAdjust" to default value of "true". **
$util.qr($context.args.input.put("smartCrossfadeAutoAdjust", $util.defaultIfNull($ctx.args.input.smartCrossfadeAutoAdjust, true)))
## [End] Setting "smartCrossfadeAutoAdjust" to default value of "true". **
## [Start] Setting "harmonicMixingEnabled" to default value of "false". **
$util.qr($context.args.input.put("harmonicMixingEnabled", $util.defaultIfNull($ctx.args.input.harmonicMixingEnabled, false)))
## [End] Setting "harmonicMixingEnabled" to default value of "false". **
## [Start] Setting "harmonicMixingStrict" to default value of "false". **
$util.qr($context.args.input.put("harmonicMixingStrict", $util.defaultIfNull($ctx.args.input.harmonicMixingStrict, false)))
## [End] Setting "harmonicMixingStrict" to default value of "false". **
## [Start] Setting "harmonicMixingBoost" to default value of "1". **
$util.qr($context.args.input.put("harmonicMixingBoost", $util.defaultIfNull($ctx.args.input.harmonicMixingBoost, 1)))
## [End] Setting "harmonicMixingBoost" to default value of "1". **
## [Start] Setting "energyMatchingEnabled" to default value of "false". **
$util.qr($context.args.input.put("energyMatchingEnabled", $util.defaultIfNull($ctx.args.input.energyMatchingEnabled, false)))
## [End] Setting "energyMatchingEnabled" to default value of "false". **
## [Start] Setting "energyMatchingTolerance" to default value of "0.2". **
$util.qr($context.args.input.put("energyMatchingTolerance", $util.defaultIfNull($ctx.args.input.energyMatchingTolerance, 0.2)))
## [End] Setting "energyMatchingTolerance" to default value of "0.2". **
## [Start] Setting "energyMatchingSmoothTransitions" to default value of "true". **
$util.qr($context.args.input.put("energyMatchingSmoothTransitions", $util.defaultIfNull($ctx.args.input.energyMatchingSmoothTransitions, true)))
## [End] Setting "energyMatchingSmoothTransitions" to default value of "true". **
## [Start] Setting "crossfadeConservative" to default value of "false". **
$util.qr($context.args.input.put("crossfadeConservative", $util.defaultIfNull($ctx.args.input.crossfadeConservative, false)))
## [End] Setting "crossfadeConservative" to default value of "false". **
## [Start] Setting "crossfadePreset" to default value of "techno". **
$util.qr($context.args.input.put("crossfadePreset", $util.defaultIfNull($ctx.args.input.crossfadePreset, "techno")))
## [End] Setting "crossfadePreset" to default value of "techno". **
{}