## [Start] Setting "tracks" to default value of "[]". **
$util.qr($context.args.input.put("tracks", $util.defaultIfNull($ctx.args.input.tracks, "[]")))
## [End] Setting "tracks" to default value of "[]". **
## [Start] Setting "trackCount" to default value of "0". **
$util.qr($context.args.input.put("trackCount", $util.defaultIfNull($ctx.args.input.trackCount, 0)))
## [End] Setting "trackCount" to default value of "0". **
## [Start] Setting "totalDuration" to default value of "0". **
$util.qr($context.args.input.put("totalDuration", $util.defaultIfNull($ctx.args.input.totalDuration, 0)))
## [End] Setting "totalDuration" to default value of "0". **
{}